@import "variables";
@import "base";

@import "bootstrap/scss/bootstrap";

.rounded {
  border-radius: 1rem !important;
}

.sticky-sidebar {
  position: sticky;
  top: 0;
}

.avatar-list-item {
  margin-right: -7px !important;
}

.avatar-img {
  border: 3px solid #ffe083 !important;
}

.uploadedImage {
  height: 180px !important;
}

.hero-image {
  object-fit: "cover";
  height: 500px;
}

@media (max-width: 1240px) {
  .display-4 {
    font-size: calc(1.175rem + 2.7vw) !important;
  }
}

@media (max-width: 560px) {
  .uploadedImage {
    height: 100px !important;
    padding-bottom: 10px;
  }
  .heading {
    width: 100%;
  }
  .hero-image {
    object-fit: "cover" !important;
    height: 350 !important;
  }
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0 !important;
  box-shadow: 0 !important;
}

input::placeholder,
textarea::placeholder {
  font-size: medium;
}

input[type="radio"]:checked + label {
  border: 1px solid #fbd666 !important;
}

.about {
  background: linear-gradient(rgba(0, 123, 255, 0.2), rgba(0, 123, 255, 0.2)),
    url("/images/151778155_1117320482043524_2277621920688018616_n.jpg") center /
      cover,
    #7521cf;
  height: 299px;
}

.intro {
  height: 600px;
  background: url("/images/manager.jpg") center / cover;
}

.page-intro {
  height: 300px;
  background: url("/images/manager.jpg") center / cover;
}

.actions {
  display: none;
}

.post:hover > .actions {
  display: block;
  color: red;
}
